@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneuecyr-light.otf');
    font-style: normal;
}

body {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Helvetica Neue, Tahoma;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 36px;
    background: url('../img/pattern.jpg') repeat-x;
    font-size: 14px;
    line-height: 36px;
    white-space: nowrap;
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu a {
    display: block;
    padding: 0 13px;
    color: #60b5ed;
}

.menu a:hover {
    background-color: #4eabda;
    color: #fff;
}

.minhas {
    padding: 0 15px 0 0;
    background: url('../img/flag.png') no-repeat 18px 6px;
}

.minhas a {
    display: block;
    height: 30px;
    margin-top: 1px;
    padding-right: 5px;
    color: #fefefe;
    line-height: 30px;
}

.minhas a:hover {
    color: #ccc;
}

.line {
    height: 31px;
    margin: 2px 0 3px;
    padding-left: 51px;
    border-left: 1px solid #56a2dc;
}

.ola {
    margin-right: 20px;
    padding: 0 14px;
    border-right: 1px solid #4299d2;
    border-bottom: 1px solid #4299d2;
    border-left: 1px solid #4299d2;
    background: linear-gradient(to bottom, rgba(81, 176, 220, 1) 0%, rgba(78, 170, 219, 1) 12%, rgba(65, 151, 208, 1) 38%, rgba(53, 132, 201, 1) 68%, rgba(47, 123, 198, 1) 85%, rgba(46, 122, 197, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #feffff;
}

.ola a {
    color: #feffff;
    text-decoration: underline;
}

.ola a:hover {
    color: #ccc;
}

.container {
    position: fixed;
    top: 36px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.reg-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -325px 0 0 -280px;
    width: 560px;
    height: 614px;
}

h1 {
    margin-bottom: 2px;
    padding-right: 9px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
}

.reg-form-bg {
    height: 549px;
    background-color: rgba(0, 0, 0, .6);
}

.fb {
    padding-top: 36px;
}

.fb a {
    display: block;
    width: 276px;
    height: 35px;
    margin: 0 auto;
    background: url('../img/fb.png') no-repeat;
}

.ou-container {
    position: relative;
    width: 276px;
    height: 2px;
    margin: 24px auto;
}

.ou-left,
.ou-right {
    display: inline-block;
    width: 123px;
    height: 1px;
    border-bottom: 1px solid #000;
    background-color: #666;
}

.ou-left {
    margin-right: 25px;
}

.ou {
    position: absolute;
    top: 4px;
    left: 130px;
    color: #999;
}

.register-group {
    padding-top: 24px;
    border: 0;
    color: #ccc;
}

.register-group input {
    display: block;
    width: 257px;
    height: 35px;
    margin: 16px auto 0;
    padding: 0 0 0 19px;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #4b4b4b;
    border-left: 0;
    background: linear-gradient(to right, rgba(17, 17, 17, 1) 0%, rgba(14, 13, 13, 1) 100%);
    box-shadow: inset 0 3px 5px 0 rgba(29, 26, 22, 1);
}

.register-group input:first-child {
    margin-top: 0;
    margin-bottom: 19px;
}

.register-group input:last-child {
    margin-top: 13px;
}

.register-group input:focus {
    border-bottom: 1px solid #689bcc;
    outline: none;
    background: #1b5288;
    color: #fff;
    box-shadow: 0 0 50px 0 rgba(27, 82, 136, 1),
                inset 0 0 50px 1px rgba(0, 0, 0, .2);
}

input::-webkit-input-placeholder {
    color: #ccc;
    font-family: Helvetica Neue, Tahoma;
    font-size: 14px;
}

input::-moz-placeholder {
    color: #ccc;
    font-size: 14px;
}

input::-ms-input-placeholder {
    color: #ccc;
    font-size: 14px;
}

input:focus::-webkit-input-placeholder {
    color: fffbfb;
}

input:focus::-moz-placeholder {
    color: fffbfb;
}

input:focus:-moz-placeholder {
    color: fffbfb;
}

input:focus:-ms-input-placeholder {
    color: fffbfb;
}

.subs {
    width: 276px;
    margin: 18px auto 0;
    padding: 0;
    border: 0;
    color: #ccc;
    font-size: 14px;
}

.btn {
    display: block;
    width: 149px;
    height: 35px;
    margin: 20px auto 0;
    border: 1px solid #57a2dd;
    border-radius: 2px;
    background: linear-gradient(to bottom, rgba(81, 176, 220, 1) 0%, rgba(78, 170, 219, 1) 12%, rgba(65, 151, 208, 1) 38%, rgba(53, 132, 201, 1) 68%, rgba(47, 123, 198, 1) 85%, rgba(46, 122, 197, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
    font-family: Helvetica Neue, Tahoma;
    font-size: 14px;
    box-shadow: inset 0 1px 0 0 rgba(103, 198, 230, 1);
}

.btn:hover {
    cursor: pointer;
}

.after-btn-text {
    width: 310px;
    margin: 18px auto 0;
    color: #ccc;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
